body {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/891/672/desktop-wallpaper-best-5-poop-on-hip-poop-emojis.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background:linear-gradient(#bc8a5f, #8b5e34,#6f4518);
    max-width: 80%;
    margin: auto;
    border: 3px solid #603808;
    border-radius: 8px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn, #reset-btn, #save-btn {
    background: #583101;
}

#fartimg {
    width: 250px;
    margin:15px auto;
    border: 1px solid #6f4518;
    border-radius:8px;

}
.foot {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #6f4518;
    text-shadow:1px 1px#bc8a5f;

}